<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.polsl.laboratorioweobecnosci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.admin.PasswordDialog"></activity>
        <activity android:name=".activities.admin.PreferencesActivity" />
        <activity android:name=".activities.admin.GenerateCSVActivity" />
        <activity android:name=".activities.admin.RateDialog" />
        <activity android:name=".activities.admin.LaboratoriesDialog" />
        <activity android:name=".activities.admin.RateWorkstationDialog" />
        <activity android:name=".activities.admin.LaboratoryDialog" />
        <activity android:name=".activities.admin.LaboratoriesActivity" />
        <activity android:name=".activities.student.StudentsListActivity" />
        <activity android:name=".activities.admin.RateActivity" />
        <activity android:name=".activities.student.StudentDialog" />
        <activity android:name=".activities.admin.AdminActivity" />
        <activity android:name=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>